# data
yfinance
pandas
numpy
holidays
# dashboard
plotly
dash
dash-renderer 
dash-core-components
dash-html-components 
# deployment
gunicorn
# inference
scikit-learn==1.0.2
tsai==0.3.4
IPython==8.4.0
ipykerynel==6.15.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.12.0+cpu